--
-- PostgreSQL database dump
--

\restrict AqoffIfqYbUvWgWYEJAjB9dhr4acbIZhJOUgDIsqXw6BcS0eiXsr1RQSSmUUxdS

-- Dumped from database version 18.4 (eaf151e)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: canal_venta; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.canal_venta AS ENUM (
    'app_bustoke',
    'ventanilla_fisica'
);


ALTER TYPE public.canal_venta OWNER TO neondb_owner;

--
-- Name: estado_agencia; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.estado_agencia AS ENUM (
    'activa',
    'suspendida'
);


ALTER TYPE public.estado_agencia OWNER TO neondb_owner;

--
-- Name: estado_bloqueo_temporal; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.estado_bloqueo_temporal AS ENUM (
    'activo',
    'expirado',
    'convertido'
);


ALTER TYPE public.estado_bloqueo_temporal OWNER TO neondb_owner;

--
-- Name: estado_boleto; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.estado_boleto AS ENUM (
    'activo',
    'cancelado'
);


ALTER TYPE public.estado_boleto OWNER TO neondb_owner;

--
-- Name: estado_pago; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.estado_pago AS ENUM (
    'pendiente',
    'completado',
    'fallido',
    'reembolsado'
);


ALTER TYPE public.estado_pago OWNER TO neondb_owner;

--
-- Name: estado_reclamo; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.estado_reclamo AS ENUM (
    'abierto',
    'en_proceso',
    'resuelto'
);


ALTER TYPE public.estado_reclamo OWNER TO neondb_owner;

--
-- Name: estado_ticket; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.estado_ticket AS ENUM (
    'abierto',
    'en_revision',
    'resuelto'
);


ALTER TYPE public.estado_ticket OWNER TO neondb_owner;

--
-- Name: estado_viaje; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.estado_viaje AS ENUM (
    'programado',
    'en_curso',
    'finalizado',
    'cancelado'
);


ALTER TYPE public.estado_viaje OWNER TO neondb_owner;

--
-- Name: metodo_pago; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.metodo_pago AS ENUM (
    'yape',
    'plin',
    'tarjeta'
);


ALTER TYPE public.metodo_pago OWNER TO neondb_owner;

--
-- Name: rol_usuario; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.rol_usuario AS ENUM (
    'cliente',
    'admin_agencia',
    'superadmin'
);


ALTER TYPE public.rol_usuario OWNER TO neondb_owner;

--
-- Name: tipo_servicio; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.tipo_servicio AS ENUM (
    'vip',
    'normal'
);


ALTER TYPE public.tipo_servicio OWNER TO neondb_owner;

--
-- Name: fn_calcular_comision_liquidacion(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.fn_calcular_comision_liquidacion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_porcentaje DECIMAL(5,2) := 0.00;

    v_monto_fijo DECIMAL(10,2) := 0.00;

BEGIN

    -- 1. Buscar si la agencia tiene una comisi├â┬│n espec├â┬¡fica vigente para este periodo

    SELECT porcentaje_comision, monto_fijo_comision 

    INTO v_porcentaje, v_monto_fijo

    FROM configuracion_comisiones

    WHERE (id_agencia = NEW.id_agencia OR id_agencia IS NULL)

      AND fecha_inicio <= CURRENT_DATE 

      AND (fecha_fin IS NULL OR fecha_fin >= CURRENT_DATE)

    ORDER BY id_agencia NULLS LAST -- Prioriza la espec├â┬¡fica sobre la global

    LIMIT 1;



    -- 2. Calcular los montos financieros basados en las ventas brutas reportadas

    NEW.comision_plataforma := (NEW.monto_ventas * (v_porcentaje / 100.00)) + v_monto_fijo;

    NEW.monto_a_transferir := NEW.monto_ventas - NEW.comision_plataforma;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_calcular_comision_liquidacion() OWNER TO neondb_owner;

--
-- Name: fn_proteger_manifiesto_sutran(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.fn_proteger_manifiesto_sutran() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    RAISE EXCEPTION 'Operaci├â┬│n no permitida: Los registros de manifiestos SUTRAN son inmutables por regulaciones de auditor├â┬¡a nacional.';

    RETURN NULL;

END;

$$;


ALTER FUNCTION public.fn_proteger_manifiesto_sutran() OWNER TO neondb_owner;

--
-- Name: sp_limpiar_bloqueos_expirados(); Type: PROCEDURE; Schema: public; Owner: neondb_owner
--

CREATE PROCEDURE public.sp_limpiar_bloqueos_expirados()
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Cambia el estado de activo a expirado para todos los registros cuya hora actual super├â┬│ su tiempo l├â┬¡mite de checkout

    UPDATE bloqueos_temporales

    SET estado = 'expirado'

    WHERE estado = 'activo'

      AND NOW() >= expira_at;

END;

$$;


ALTER PROCEDURE public.sp_limpiar_bloqueos_expirados() OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agencias; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.agencias (
    id_agencia integer NOT NULL,
    ruc character varying(11) NOT NULL,
    razon_social character varying(205) NOT NULL,
    estado public.estado_agencia DEFAULT 'activa'::public.estado_agencia NOT NULL,
    banco_nombre character varying(100),
    numero_cuenta character varying(50),
    cuenta_cci character varying(50),
    CONSTRAINT chk_ruc_longitud CHECK ((length((ruc)::text) = 11))
);


ALTER TABLE public.agencias OWNER TO neondb_owner;

--
-- Name: agencias_id_agencia_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.agencias_id_agencia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agencias_id_agencia_seq OWNER TO neondb_owner;

--
-- Name: agencias_id_agencia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.agencias_id_agencia_seq OWNED BY public.agencias.id_agencia;


--
-- Name: agencias_terminales; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.agencias_terminales (
    id_agencia_terminal integer NOT NULL,
    id_agencia integer NOT NULL,
    id_terminal integer NOT NULL,
    nro_counter_oficina character varying(50) DEFAULT 'Por definir'::character varying NOT NULL
);


ALTER TABLE public.agencias_terminales OWNER TO neondb_owner;

--
-- Name: agencias_terminales_id_agencia_terminal_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.agencias_terminales_id_agencia_terminal_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agencias_terminales_id_agencia_terminal_seq OWNER TO neondb_owner;

--
-- Name: agencias_terminales_id_agencia_terminal_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.agencias_terminales_id_agencia_terminal_seq OWNED BY public.agencias_terminales.id_agencia_terminal;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO neondb_owner;

--
-- Name: api_keys; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.api_keys (
    id_api_key integer NOT NULL,
    id_agencia integer NOT NULL,
    token character varying(255) NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL,
    fecha_expiracion timestamp without time zone NOT NULL,
    ultimo_uso timestamp without time zone,
    estado boolean DEFAULT true NOT NULL
);


ALTER TABLE public.api_keys OWNER TO neondb_owner;

--
-- Name: api_keys_id_api_key_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.api_keys_id_api_key_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.api_keys_id_api_key_seq OWNER TO neondb_owner;

--
-- Name: api_keys_id_api_key_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.api_keys_id_api_key_seq OWNED BY public.api_keys.id_api_key;


--
-- Name: asientos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.asientos (
    id_asiento integer NOT NULL,
    id_bus integer NOT NULL,
    numero_asiento character varying(10) NOT NULL,
    fila character varying(5) NOT NULL,
    piso integer DEFAULT 1 NOT NULL,
    tipo_servicio public.tipo_servicio DEFAULT 'normal'::public.tipo_servicio NOT NULL,
    coord_x integer NOT NULL,
    coord_y integer NOT NULL,
    bloqueado_manual boolean DEFAULT false NOT NULL,
    CONSTRAINT chk_formato_asiento CHECK (((numero_asiento)::text ~ similar_to_escape('[A-Z][0-9]-%'::text)))
);


ALTER TABLE public.asientos OWNER TO neondb_owner;

--
-- Name: asientos_id_asiento_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.asientos_id_asiento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asientos_id_asiento_seq OWNER TO neondb_owner;

--
-- Name: asientos_id_asiento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.asientos_id_asiento_seq OWNED BY public.asientos.id_asiento;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.audit_logs (
    id_log integer NOT NULL,
    tabla_afectada character varying(100) NOT NULL,
    accion character varying(20) NOT NULL,
    datos_anteriores jsonb,
    datos_nuevos jsonb,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    id_usuario_responsable integer
);


ALTER TABLE public.audit_logs OWNER TO neondb_owner;

--
-- Name: audit_logs_id_log_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.audit_logs_id_log_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_log_seq OWNER TO neondb_owner;

--
-- Name: audit_logs_id_log_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.audit_logs_id_log_seq OWNED BY public.audit_logs.id_log;


--
-- Name: bloqueos_temporales; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.bloqueos_temporales (
    id_bloqueo integer NOT NULL,
    id_viaje integer NOT NULL,
    id_asiento integer NOT NULL,
    id_usuario integer,
    token_sesion character varying(255) NOT NULL,
    fecha_bloqueo timestamp without time zone DEFAULT now() NOT NULL,
    expira_at timestamp without time zone NOT NULL,
    estado public.estado_bloqueo_temporal DEFAULT 'activo'::public.estado_bloqueo_temporal NOT NULL
);


ALTER TABLE public.bloqueos_temporales OWNER TO neondb_owner;

--
-- Name: bloqueos_temporales_id_bloqueo_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.bloqueos_temporales_id_bloqueo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bloqueos_temporales_id_bloqueo_seq OWNER TO neondb_owner;

--
-- Name: bloqueos_temporales_id_bloqueo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.bloqueos_temporales_id_bloqueo_seq OWNED BY public.bloqueos_temporales.id_bloqueo;


--
-- Name: boletos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.boletos (
    id_boleto integer NOT NULL,
    id_viaje integer NOT NULL,
    id_usuario integer,
    id_pasajero integer NOT NULL,
    id_asiento integer NOT NULL,
    email_contacto character varying(150) NOT NULL,
    canal public.canal_venta NOT NULL,
    codigo_qr character varying(255) NOT NULL,
    usado boolean DEFAULT false NOT NULL,
    fecha_validacion timestamp without time zone,
    precio_final numeric(10,2) NOT NULL,
    fecha_emision timestamp without time zone DEFAULT now() NOT NULL,
    estado public.estado_boleto DEFAULT 'activo'::public.estado_boleto NOT NULL,
    acepto_terminos_politicas boolean DEFAULT true NOT NULL,
    ip_registro character varying(45),
    estado_checkin character varying(20) DEFAULT 'pendiente'::character varying NOT NULL
);


ALTER TABLE public.boletos OWNER TO neondb_owner;

--
-- Name: boletos_id_boleto_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.boletos_id_boleto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.boletos_id_boleto_seq OWNER TO neondb_owner;

--
-- Name: boletos_id_boleto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.boletos_id_boleto_seq OWNED BY public.boletos.id_boleto;


--
-- Name: buses; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.buses (
    id_bus integer NOT NULL,
    id_agencia integer NOT NULL,
    placa character varying(10) NOT NULL,
    cantidad_pisos integer DEFAULT 1 NOT NULL,
    CONSTRAINT chk_pisos CHECK ((cantidad_pisos = ANY (ARRAY[1, 2])))
);


ALTER TABLE public.buses OWNER TO neondb_owner;

--
-- Name: buses_id_bus_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.buses_id_bus_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.buses_id_bus_seq OWNER TO neondb_owner;

--
-- Name: buses_id_bus_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.buses_id_bus_seq OWNED BY public.buses.id_bus;


--
-- Name: choferes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.choferes (
    id_chofer integer NOT NULL,
    id_agencia integer NOT NULL,
    id_tipo_documento integer NOT NULL,
    numero_documento character varying(20) NOT NULL,
    nombres character varying(100) NOT NULL,
    apellido_paterno character varying(100) NOT NULL,
    apellido_materno character varying(100) NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_registro timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.choferes OWNER TO neondb_owner;

--
-- Name: choferes_id_chofer_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.choferes_id_chofer_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.choferes_id_chofer_seq OWNER TO neondb_owner;

--
-- Name: choferes_id_chofer_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.choferes_id_chofer_seq OWNED BY public.choferes.id_chofer;


--
-- Name: configuracion_comisiones; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.configuracion_comisiones (
    id_configuracion integer NOT NULL,
    id_agencia integer,
    porcentaje_comision numeric(5,2) DEFAULT 0.00 NOT NULL,
    monto_fijo_comision numeric(10,2) DEFAULT 0.00 NOT NULL,
    fecha_inicio date DEFAULT CURRENT_DATE NOT NULL,
    fecha_fin date
);


ALTER TABLE public.configuracion_comisiones OWNER TO neondb_owner;

--
-- Name: configuracion_comisiones_id_configuracion_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.configuracion_comisiones_id_configuracion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.configuracion_comisiones_id_configuracion_seq OWNER TO neondb_owner;

--
-- Name: configuracion_comisiones_id_configuracion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.configuracion_comisiones_id_configuracion_seq OWNED BY public.configuracion_comisiones.id_configuracion;


--
-- Name: departamentos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.departamentos (
    id_departamento integer NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.departamentos OWNER TO neondb_owner;

--
-- Name: departamentos_id_departamento_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.departamentos_id_departamento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departamentos_id_departamento_seq OWNER TO neondb_owner;

--
-- Name: departamentos_id_departamento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.departamentos_id_departamento_seq OWNED BY public.departamentos.id_departamento;


--
-- Name: distritos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.distritos (
    id_distrito integer NOT NULL,
    id_provincia integer NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.distritos OWNER TO neondb_owner;

--
-- Name: distritos_id_distrito_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.distritos_id_distrito_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.distritos_id_distrito_seq OWNER TO neondb_owner;

--
-- Name: distritos_id_distrito_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.distritos_id_distrito_seq OWNED BY public.distritos.id_distrito;


--
-- Name: historial_cambios_soporte; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.historial_cambios_soporte (
    id_historial integer NOT NULL,
    id_ticket integer NOT NULL,
    campo character varying(30) NOT NULL,
    valor_anterior character varying(50),
    valor_nuevo character varying(50) NOT NULL,
    id_usuario_modifica integer,
    fecha_cambio timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.historial_cambios_soporte OWNER TO neondb_owner;

--
-- Name: historial_cambios_soporte_id_historial_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.historial_cambios_soporte_id_historial_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_cambios_soporte_id_historial_seq OWNER TO neondb_owner;

--
-- Name: historial_cambios_soporte_id_historial_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.historial_cambios_soporte_id_historial_seq OWNED BY public.historial_cambios_soporte.id_historial;


--
-- Name: historial_estados_viaje; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.historial_estados_viaje (
    id_historial integer NOT NULL,
    id_viaje integer NOT NULL,
    estado_anterior public.estado_viaje NOT NULL,
    estado_nuevo public.estado_viaje NOT NULL,
    motivo text NOT NULL,
    id_usuario_responsable integer,
    fecha_cambio timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.historial_estados_viaje OWNER TO neondb_owner;

--
-- Name: historial_estados_viaje_id_historial_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.historial_estados_viaje_id_historial_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_estados_viaje_id_historial_seq OWNER TO neondb_owner;

--
-- Name: historial_estados_viaje_id_historial_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.historial_estados_viaje_id_historial_seq OWNED BY public.historial_estados_viaje.id_historial;


--
-- Name: liquidaciones_agencia; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.liquidaciones_agencia (
    id_liquidacion_agencia integer NOT NULL,
    id_agencia integer NOT NULL,
    periodo character varying(7) NOT NULL,
    monto_ventas numeric(10,2) NOT NULL,
    comision_plataforma numeric(10,2) NOT NULL,
    monto_a_transferir numeric(10,2) NOT NULL,
    estado_pago public.estado_pago DEFAULT 'pendiente'::public.estado_pago NOT NULL
);


ALTER TABLE public.liquidaciones_agencia OWNER TO neondb_owner;

--
-- Name: liquidaciones_agencia_id_liquidacion_agencia_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.liquidaciones_agencia_id_liquidacion_agencia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.liquidaciones_agencia_id_liquidacion_agencia_seq OWNER TO neondb_owner;

--
-- Name: liquidaciones_agencia_id_liquidacion_agencia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.liquidaciones_agencia_id_liquidacion_agencia_seq OWNED BY public.liquidaciones_agencia.id_liquidacion_agencia;


--
-- Name: manifiestos_sutran; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.manifiestos_sutran (
    id_manifiesto integer NOT NULL,
    id_viaje integer NOT NULL,
    fecha_generacion timestamp without time zone DEFAULT now() NOT NULL,
    estado_envio character varying(30) NOT NULL,
    respuesta_api text NOT NULL
);


ALTER TABLE public.manifiestos_sutran OWNER TO neondb_owner;

--
-- Name: manifiestos_sutran_id_manifiesto_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.manifiestos_sutran_id_manifiesto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.manifiestos_sutran_id_manifiesto_seq OWNER TO neondb_owner;

--
-- Name: manifiestos_sutran_id_manifiesto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.manifiestos_sutran_id_manifiesto_seq OWNED BY public.manifiestos_sutran.id_manifiesto;


--
-- Name: mensajes_reclamo; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.mensajes_reclamo (
    id_mensaje integer NOT NULL,
    id_reclamo integer NOT NULL,
    id_usuario integer NOT NULL,
    text_mensaje text NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.mensajes_reclamo OWNER TO neondb_owner;

--
-- Name: mensajes_reclamo_id_mensaje_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.mensajes_reclamo_id_mensaje_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mensajes_reclamo_id_mensaje_seq OWNER TO neondb_owner;

--
-- Name: mensajes_reclamo_id_mensaje_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.mensajes_reclamo_id_mensaje_seq OWNED BY public.mensajes_reclamo.id_mensaje;


--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.notificaciones (
    id_notificacion integer NOT NULL,
    id_usuario integer NOT NULL,
    tipo character varying(30) NOT NULL,
    titulo character varying(150) NOT NULL,
    mensaje text NOT NULL,
    referencia_tipo character varying(30),
    referencia_id integer,
    leida boolean DEFAULT false NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notificaciones OWNER TO neondb_owner;

--
-- Name: notificaciones_id_notificacion_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.notificaciones_id_notificacion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notificaciones_id_notificacion_seq OWNER TO neondb_owner;

--
-- Name: notificaciones_id_notificacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.notificaciones_id_notificacion_seq OWNED BY public.notificaciones.id_notificacion;


--
-- Name: pagos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.pagos (
    id_pago integer NOT NULL,
    id_boleto integer NOT NULL,
    metodo public.metodo_pago NOT NULL,
    monto_total numeric(10,2) NOT NULL,
    referencia_transaccion character varying(100) NOT NULL,
    estado public.estado_pago DEFAULT 'pendiente'::public.estado_pago NOT NULL
);


ALTER TABLE public.pagos OWNER TO neondb_owner;

--
-- Name: pagos_id_pago_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.pagos_id_pago_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pagos_id_pago_seq OWNER TO neondb_owner;

--
-- Name: pagos_id_pago_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.pagos_id_pago_seq OWNED BY public.pagos.id_pago;


--
-- Name: pasajeros; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.pasajeros (
    id_pasajero integer NOT NULL,
    id_usuario integer,
    id_tipo_documento integer NOT NULL,
    numero_documento character varying(50) NOT NULL,
    nombres character varying(100) NOT NULL,
    apellido_paterno character varying(100) NOT NULL,
    apellido_materno character varying(100) NOT NULL,
    fecha_nacimiento date
);


ALTER TABLE public.pasajeros OWNER TO neondb_owner;

--
-- Name: pasajeros_id_pasajero_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.pasajeros_id_pasajero_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pasajeros_id_pasajero_seq OWNER TO neondb_owner;

--
-- Name: pasajeros_id_pasajero_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.pasajeros_id_pasajero_seq OWNED BY public.pasajeros.id_pasajero;


--
-- Name: planes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.planes (
    id_plan integer NOT NULL,
    nombre character varying(100) NOT NULL,
    precio numeric(10,2) NOT NULL,
    limite_buses integer NOT NULL
);


ALTER TABLE public.planes OWNER TO neondb_owner;

--
-- Name: planes_id_plan_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.planes_id_plan_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.planes_id_plan_seq OWNER TO neondb_owner;

--
-- Name: planes_id_plan_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.planes_id_plan_seq OWNED BY public.planes.id_plan;


--
-- Name: provincias; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.provincias (
    id_provincia integer NOT NULL,
    id_departamento integer NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.provincias OWNER TO neondb_owner;

--
-- Name: provincias_id_provincia_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.provincias_id_provincia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.provincias_id_provincia_seq OWNER TO neondb_owner;

--
-- Name: provincias_id_provincia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.provincias_id_provincia_seq OWNED BY public.provincias.id_provincia;


--
-- Name: reclamos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.reclamos (
    id_reclamo integer NOT NULL,
    id_usuario integer NOT NULL,
    id_agencia integer NOT NULL,
    motivo character varying(150) NOT NULL,
    detalle text NOT NULL,
    estado public.estado_reclamo DEFAULT 'abierto'::public.estado_reclamo NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reclamos OWNER TO neondb_owner;

--
-- Name: reclamos_id_reclamo_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.reclamos_id_reclamo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reclamos_id_reclamo_seq OWNER TO neondb_owner;

--
-- Name: reclamos_id_reclamo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.reclamos_id_reclamo_seq OWNED BY public.reclamos.id_reclamo;


--
-- Name: reembolsos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.reembolsos (
    id_reembolso integer NOT NULL,
    id_pago integer NOT NULL,
    id_usuario_responsable integer,
    monto_reembolsado numeric(10,2) NOT NULL,
    motivo text NOT NULL,
    fecha_reembolso timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reembolsos OWNER TO neondb_owner;

--
-- Name: reembolsos_id_reembolso_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.reembolsos_id_reembolso_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reembolsos_id_reembolso_seq OWNER TO neondb_owner;

--
-- Name: reembolsos_id_reembolso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.reembolsos_id_reembolso_seq OWNED BY public.reembolsos.id_reembolso;


--
-- Name: rutas; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.rutas (
    id_ruta integer NOT NULL,
    id_agencia integer NOT NULL,
    id_terminal_origen integer NOT NULL,
    id_terminal_destino integer NOT NULL,
    tarifa_base numeric(10,2) NOT NULL,
    CONSTRAINT chk_ruta_distinta CHECK ((id_terminal_origen <> id_terminal_destino))
);


ALTER TABLE public.rutas OWNER TO neondb_owner;

--
-- Name: rutas_id_ruta_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.rutas_id_ruta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rutas_id_ruta_seq OWNER TO neondb_owner;

--
-- Name: rutas_id_ruta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.rutas_id_ruta_seq OWNED BY public.rutas.id_ruta;


--
-- Name: suscripciones; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.suscripciones (
    id_suscripcion integer NOT NULL,
    id_agencia integer NOT NULL,
    id_plan integer NOT NULL,
    monto_mensual numeric(10,2) NOT NULL,
    fecha_facturacion date NOT NULL,
    estado_cobro public.estado_pago DEFAULT 'pendiente'::public.estado_pago NOT NULL
);


ALTER TABLE public.suscripciones OWNER TO neondb_owner;

--
-- Name: suscripciones_id_suscripcion_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.suscripciones_id_suscripcion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suscripciones_id_suscripcion_seq OWNER TO neondb_owner;

--
-- Name: suscripciones_id_suscripcion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.suscripciones_id_suscripcion_seq OWNED BY public.suscripciones.id_suscripcion;


--
-- Name: tarifas_ruta; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tarifas_ruta (
    id_tarifa integer NOT NULL,
    id_ruta integer NOT NULL,
    tipo_servicio public.tipo_servicio NOT NULL,
    precio numeric(10,2) NOT NULL
);


ALTER TABLE public.tarifas_ruta OWNER TO neondb_owner;

--
-- Name: tarifas_ruta_id_tarifa_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tarifas_ruta_id_tarifa_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tarifas_ruta_id_tarifa_seq OWNER TO neondb_owner;

--
-- Name: tarifas_ruta_id_tarifa_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tarifas_ruta_id_tarifa_seq OWNED BY public.tarifas_ruta.id_tarifa;


--
-- Name: terminales; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.terminales (
    id_terminal integer NOT NULL,
    id_distrito integer NOT NULL,
    nombre character varying(150) NOT NULL,
    direccion character varying(255) NOT NULL
);


ALTER TABLE public.terminales OWNER TO neondb_owner;

--
-- Name: terminales_id_terminal_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.terminales_id_terminal_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.terminales_id_terminal_seq OWNER TO neondb_owner;

--
-- Name: terminales_id_terminal_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.terminales_id_terminal_seq OWNED BY public.terminales.id_terminal;


--
-- Name: tickets_soporte; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tickets_soporte (
    id_ticket_soporte integer NOT NULL,
    id_agencia integer NOT NULL,
    asunto character varying(150) NOT NULL,
    descripcion text NOT NULL,
    estado public.estado_ticket DEFAULT 'abierto'::public.estado_ticket NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tickets_soporte OWNER TO neondb_owner;

--
-- Name: tickets_soporte_id_ticket_soporte_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tickets_soporte_id_ticket_soporte_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tickets_soporte_id_ticket_soporte_seq OWNER TO neondb_owner;

--
-- Name: tickets_soporte_id_ticket_soporte_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tickets_soporte_id_ticket_soporte_seq OWNED BY public.tickets_soporte.id_ticket_soporte;


--
-- Name: tipos_documento; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tipos_documento (
    id_tipo_documento integer NOT NULL,
    nombre character varying(50) NOT NULL,
    longitud_exacta integer
);


ALTER TABLE public.tipos_documento OWNER TO neondb_owner;

--
-- Name: tipos_documento_id_tipo_documento_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tipos_documento_id_tipo_documento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipos_documento_id_tipo_documento_seq OWNER TO neondb_owner;

--
-- Name: tipos_documento_id_tipo_documento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tipos_documento_id_tipo_documento_seq OWNED BY public.tipos_documento.id_tipo_documento;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.usuarios (
    id_usuario integer NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    telefono character varying(20),
    rol public.rol_usuario DEFAULT 'cliente'::public.rol_usuario NOT NULL,
    id_agencia integer,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.usuarios OWNER TO neondb_owner;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_usuario_seq OWNER TO neondb_owner;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: viajes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.viajes (
    id_viaje integer NOT NULL,
    id_ruta integer NOT NULL,
    id_bus integer NOT NULL,
    id_chofer integer,
    fecha_hora_salida timestamp without time zone NOT NULL,
    fecha_hora_llegada timestamp without time zone NOT NULL,
    estado public.estado_viaje DEFAULT 'programado'::public.estado_viaje NOT NULL,
    rampa_embarque character varying(50) DEFAULT 'Por asignar'::character varying NOT NULL,
    CONSTRAINT chk_horarios CHECK ((fecha_hora_llegada > fecha_hora_salida))
);


ALTER TABLE public.viajes OWNER TO neondb_owner;

--
-- Name: viajes_id_viaje_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.viajes_id_viaje_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.viajes_id_viaje_seq OWNER TO neondb_owner;

--
-- Name: viajes_id_viaje_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.viajes_id_viaje_seq OWNED BY public.viajes.id_viaje;


--
-- Name: vw_estado_asientos_viaje; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.vw_estado_asientos_viaje AS
 SELECT v.id_viaje,
    a.id_asiento,
    a.numero_asiento,
    a.fila,
    a.piso,
    a.tipo_servicio,
    a.coord_x,
    a.coord_y,
        CASE
            WHEN (b.id_boleto IS NOT NULL) THEN 'ocupado'::text
            WHEN (a.bloqueado_manual = true) THEN 'bloqueado'::text
            WHEN (bt.id_bloqueo IS NOT NULL) THEN 'bloqueado'::text
            ELSE 'libre'::text
        END AS estado_interfaz
   FROM ((((public.viajes v
     JOIN public.buses bu ON ((v.id_bus = bu.id_bus)))
     JOIN public.asientos a ON ((bu.id_bus = a.id_bus)))
     LEFT JOIN public.boletos b ON (((b.id_asiento = a.id_asiento) AND (b.id_viaje = v.id_viaje) AND (b.estado = 'activo'::public.estado_boleto))))
     LEFT JOIN public.bloqueos_temporales bt ON (((bt.id_asiento = a.id_asiento) AND (bt.id_viaje = v.id_viaje) AND (bt.estado = 'activo'::public.estado_bloqueo_temporal) AND (now() < bt.expira_at))));


ALTER VIEW public.vw_estado_asientos_viaje OWNER TO neondb_owner;

--
-- Name: vw_metricas_dashboard; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.vw_metricas_dashboard AS
 SELECT COALESCE(( SELECT sum(p.monto_total) AS sum
           FROM (public.pagos p
             JOIN public.boletos b ON ((p.id_boleto = b.id_boleto)))
          WHERE ((p.estado = 'completado'::public.estado_pago) AND (b.fecha_emision >= (now() - '24:00:00'::interval)))), 0.00) AS ventas_24h_monto,
    COALESCE(( SELECT sum(pagos.monto_total) AS sum
           FROM public.pagos
          WHERE (pagos.estado = 'completado'::public.estado_pago)), 0.00) AS total_ingresos_historicos,
    ( SELECT count(*) AS count
           FROM public.viajes
          WHERE (viajes.estado = ANY (ARRAY['programado'::public.estado_viaje, 'en_curso'::public.estado_viaje]))) AS total_viajes_activos,
    ( SELECT count(*) AS count
           FROM public.usuarios
          WHERE ((usuarios.rol = 'cliente'::public.rol_usuario) AND (usuarios.activo = true))) AS total_clientes_activos;


ALTER VIEW public.vw_metricas_dashboard OWNER TO neondb_owner;

--
-- Name: agencias id_agencia; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias ALTER COLUMN id_agencia SET DEFAULT nextval('public.agencias_id_agencia_seq'::regclass);


--
-- Name: agencias_terminales id_agencia_terminal; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias_terminales ALTER COLUMN id_agencia_terminal SET DEFAULT nextval('public.agencias_terminales_id_agencia_terminal_seq'::regclass);


--
-- Name: api_keys id_api_key; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_keys ALTER COLUMN id_api_key SET DEFAULT nextval('public.api_keys_id_api_key_seq'::regclass);


--
-- Name: asientos id_asiento; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asientos ALTER COLUMN id_asiento SET DEFAULT nextval('public.asientos_id_asiento_seq'::regclass);


--
-- Name: audit_logs id_log; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id_log SET DEFAULT nextval('public.audit_logs_id_log_seq'::regclass);


--
-- Name: bloqueos_temporales id_bloqueo; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.bloqueos_temporales ALTER COLUMN id_bloqueo SET DEFAULT nextval('public.bloqueos_temporales_id_bloqueo_seq'::regclass);


--
-- Name: boletos id_boleto; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos ALTER COLUMN id_boleto SET DEFAULT nextval('public.boletos_id_boleto_seq'::regclass);


--
-- Name: buses id_bus; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.buses ALTER COLUMN id_bus SET DEFAULT nextval('public.buses_id_bus_seq'::regclass);


--
-- Name: choferes id_chofer; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.choferes ALTER COLUMN id_chofer SET DEFAULT nextval('public.choferes_id_chofer_seq'::regclass);


--
-- Name: configuracion_comisiones id_configuracion; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.configuracion_comisiones ALTER COLUMN id_configuracion SET DEFAULT nextval('public.configuracion_comisiones_id_configuracion_seq'::regclass);


--
-- Name: departamentos id_departamento; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.departamentos ALTER COLUMN id_departamento SET DEFAULT nextval('public.departamentos_id_departamento_seq'::regclass);


--
-- Name: distritos id_distrito; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.distritos ALTER COLUMN id_distrito SET DEFAULT nextval('public.distritos_id_distrito_seq'::regclass);


--
-- Name: historial_cambios_soporte id_historial; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historial_cambios_soporte ALTER COLUMN id_historial SET DEFAULT nextval('public.historial_cambios_soporte_id_historial_seq'::regclass);


--
-- Name: historial_estados_viaje id_historial; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historial_estados_viaje ALTER COLUMN id_historial SET DEFAULT nextval('public.historial_estados_viaje_id_historial_seq'::regclass);


--
-- Name: liquidaciones_agencia id_liquidacion_agencia; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.liquidaciones_agencia ALTER COLUMN id_liquidacion_agencia SET DEFAULT nextval('public.liquidaciones_agencia_id_liquidacion_agencia_seq'::regclass);


--
-- Name: manifiestos_sutran id_manifiesto; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.manifiestos_sutran ALTER COLUMN id_manifiesto SET DEFAULT nextval('public.manifiestos_sutran_id_manifiesto_seq'::regclass);


--
-- Name: mensajes_reclamo id_mensaje; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mensajes_reclamo ALTER COLUMN id_mensaje SET DEFAULT nextval('public.mensajes_reclamo_id_mensaje_seq'::regclass);


--
-- Name: notificaciones id_notificacion; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notificaciones ALTER COLUMN id_notificacion SET DEFAULT nextval('public.notificaciones_id_notificacion_seq'::regclass);


--
-- Name: pagos id_pago; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pagos ALTER COLUMN id_pago SET DEFAULT nextval('public.pagos_id_pago_seq'::regclass);


--
-- Name: pasajeros id_pasajero; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pasajeros ALTER COLUMN id_pasajero SET DEFAULT nextval('public.pasajeros_id_pasajero_seq'::regclass);


--
-- Name: planes id_plan; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.planes ALTER COLUMN id_plan SET DEFAULT nextval('public.planes_id_plan_seq'::regclass);


--
-- Name: provincias id_provincia; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.provincias ALTER COLUMN id_provincia SET DEFAULT nextval('public.provincias_id_provincia_seq'::regclass);


--
-- Name: reclamos id_reclamo; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reclamos ALTER COLUMN id_reclamo SET DEFAULT nextval('public.reclamos_id_reclamo_seq'::regclass);


--
-- Name: reembolsos id_reembolso; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reembolsos ALTER COLUMN id_reembolso SET DEFAULT nextval('public.reembolsos_id_reembolso_seq'::regclass);


--
-- Name: rutas id_ruta; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.rutas ALTER COLUMN id_ruta SET DEFAULT nextval('public.rutas_id_ruta_seq'::regclass);


--
-- Name: suscripciones id_suscripcion; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.suscripciones ALTER COLUMN id_suscripcion SET DEFAULT nextval('public.suscripciones_id_suscripcion_seq'::regclass);


--
-- Name: tarifas_ruta id_tarifa; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tarifas_ruta ALTER COLUMN id_tarifa SET DEFAULT nextval('public.tarifas_ruta_id_tarifa_seq'::regclass);


--
-- Name: terminales id_terminal; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.terminales ALTER COLUMN id_terminal SET DEFAULT nextval('public.terminales_id_terminal_seq'::regclass);


--
-- Name: tickets_soporte id_ticket_soporte; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tickets_soporte ALTER COLUMN id_ticket_soporte SET DEFAULT nextval('public.tickets_soporte_id_ticket_soporte_seq'::regclass);


--
-- Name: tipos_documento id_tipo_documento; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tipos_documento ALTER COLUMN id_tipo_documento SET DEFAULT nextval('public.tipos_documento_id_tipo_documento_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Name: viajes id_viaje; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.viajes ALTER COLUMN id_viaje SET DEFAULT nextval('public.viajes_id_viaje_seq'::regclass);


--
-- Data for Name: agencias; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: agencias_terminales; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.agencias_terminales (id_agencia_terminal, id_agencia, id_terminal, nro_counter_oficina) FROM stdin;
1	1	1	Counter 15 - Zona Norte
2	1	2	Counter Principal 01-10
3	1	4	Counter 02 - Nivel 1
4	1	5	Counter A-5 Terrapuerto
5	2	1	Counter 18 - Zona Norte
6	2	4	Counter 06 - Nivel 1
7	2	5	Counter B-2 Terrapuerto
8	3	1	Counter 05 - Zona Norte
9	3	3	Counter Principal Ejecutivo
10	3	6	Counter 03 - Chiclayo
11	3	7	Counter 12 - Cusco
12	4	1	Counter 22 - Zona Norte
13	4	8	Counter 01 - Huancayo
14	1	10	Principal
15	1	11	Principal
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.alembic_version (version_num) FROM stdin;
003_estado_checkin
\.


--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.api_keys (id_api_key, id_agencia, token, fecha_creacion, fecha_expiracion, ultimo_uso, estado) FROM stdin;
1	1	B-HqUzUrOpaPrjYLV0hGXDrQN8Q2uhLkzSnDRLGvBag	2026-06-22 04:25:04.123352	2026-08-22 00:00:00	\N	t
2	2	OLT-gMkw2YdqkCuzgZHLtdfd7OEMcfwFTC8mtC9oYrNH6/4=	2026-06-29 07:22:49.841887	2026-08-28 07:22:49.841887	\N	t
3	3	CIV-zIcAF88LIM8aJq1Y6jn4IdbEZmoetghn3mtk+LJevlQ=	2026-06-29 07:22:49.841887	2026-08-28 07:22:49.841887	\N	t
4	4	MVB-7AIEbvkLNhkYyoUl1/bepirrVseLiF0BLDHZlf+JPaE=	2026-06-29 07:22:49.841887	2026-08-28 07:22:49.841887	\N	t
\.


--
-- Data for Name: asientos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.audit_logs (id_log, tabla_afectada, accion, datos_anteriores, datos_nuevos, fecha, id_usuario_responsable) FROM stdin;
\.


--
-- Data for Name: bloqueos_temporales; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.bloqueos_temporales (id_bloqueo, id_viaje, id_asiento, id_usuario, token_sesion, fecha_bloqueo, expira_at, estado) FROM stdin;
\.


--
-- Data for Name: boletos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: buses; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: choferes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: configuracion_comisiones; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.configuracion_comisiones (id_configuracion, id_agencia, porcentaje_comision, monto_fijo_comision, fecha_inicio, fecha_fin) FROM stdin;
1	1	8.50	0.00	2026-01-01	\N
2	2	7.00	0.00	2026-01-01	\N
3	3	6.50	0.00	2026-01-01	\N
4	4	5.00	0.00	2026-01-01	\N
\.


--
-- Data for Name: departamentos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.departamentos (id_departamento, nombre) FROM stdin;
1	Lima
2	La Libertad
3	Arequipa
4	Lambayeque
5	Cusco
6	Jun├â┬¡n
7	Piura
8	Ancash
9	Ica
10	Puno
\.


--
-- Data for Name: distritos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.distritos (id_distrito, id_provincia, nombre) FROM stdin;
1	1	La Victoria
2	1	Independencia
3	1	San Borja
4	1	Santiago de Surco
5	2	Trujillo
6	2	Moche
7	3	Jacobo Hunter
8	3	Cercado de Arequipa
9	4	Chiclayo
10	4	La Victoria (Chiclayo)
11	5	Santiago
12	5	Wanchaq
13	6	Huancayo
14	6	El Tambo
15	7	Piura
16	7	Castilla
17	8	Chimbote
18	9	Ica
19	10	Juliaca
\.


--
-- Data for Name: historial_cambios_soporte; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: historial_estados_viaje; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.historial_estados_viaje (id_historial, id_viaje, estado_anterior, estado_nuevo, motivo, id_usuario_responsable, fecha_cambio) FROM stdin;
\.


--
-- Data for Name: liquidaciones_agencia; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.liquidaciones_agencia (id_liquidacion_agencia, id_agencia, periodo, monto_ventas, comision_plataforma, monto_a_transferir, estado_pago) FROM stdin;
1	1	2026-06	12500.00	1062.50	11437.50	completado
2	2	2026-06	8900.00	623.00	8277.00	completado
3	3	2026-06	14200.00	923.00	13277.00	pendiente
4	4	2026-06	5600.00	280.00	5320.00	pendiente
\.


--
-- Data for Name: manifiestos_sutran; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: mensajes_reclamo; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: pasajeros; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: planes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.planes (id_plan, nombre, precio, limite_buses) FROM stdin;
1	Plan Regular	299.00	50
2	Plan Business	499.00	999
\.


--
-- Data for Name: provincias; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.provincias (id_provincia, id_departamento, nombre) FROM stdin;
1	1	Lima
2	2	Trujillo
3	3	Arequipa
4	4	Chiclayo
5	5	Cusco
6	6	Huancayo
7	7	Piura
8	8	Santa
9	9	Ica
10	10	San Rom├â┬ín
\.


--
-- Data for Name: reclamos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: reembolsos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.reembolsos (id_reembolso, id_pago, id_usuario_responsable, monto_reembolsado, motivo, fecha_reembolso) FROM stdin;
1	5	1	75.00	Cancelacion por desperfecto mecanico. Reembolso 100%.	2026-06-29 07:22:12.380758
2	33	\N	55.00	Solicitud del pasajero. Penalidad del 50%.	2026-06-29 07:22:12.659218
\.


--
-- Data for Name: rutas; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.rutas (id_ruta, id_agencia, id_terminal_origen, id_terminal_destino, tarifa_base) FROM stdin;
1	1	2	4	70.00
2	1	4	2	70.00
3	1	2	5	110.00
4	1	5	2	110.00
5	2	1	4	65.00
6	2	4	1	65.00
7	2	1	5	100.00
8	3	3	6	60.00
9	3	6	3	60.00
10	3	3	7	120.00
11	3	7	3	120.00
12	4	1	8	50.00
13	4	8	1	50.00
14	1	1	11	150.00
\.


--
-- Data for Name: suscripciones; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.suscripciones (id_suscripcion, id_agencia, id_plan, monto_mensual, fecha_facturacion, estado_cobro) FROM stdin;
1	1	1	299.00	2026-06-01	completado
2	2	1	299.00	2026-06-01	completado
3	3	1	299.00	2026-06-01	completado
4	4	1	299.00	2026-06-01	pendiente
\.


--
-- Data for Name: tarifas_ruta; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.tarifas_ruta (id_tarifa, id_ruta, tipo_servicio, precio) FROM stdin;
1	1	normal	75.00
2	1	vip	110.00
3	2	normal	75.00
4	2	vip	110.00
5	3	normal	115.00
6	3	vip	150.00
7	4	normal	115.00
8	4	vip	150.00
9	5	normal	70.00
10	5	vip	105.00
11	6	normal	70.00
12	6	vip	105.00
13	7	normal	105.00
14	7	vip	140.00
15	8	normal	65.00
16	8	vip	95.00
17	9	normal	65.00
18	9	vip	95.00
19	10	normal	125.00
20	10	vip	165.00
21	11	normal	125.00
22	11	vip	165.00
23	12	normal	55.00
24	12	vip	85.00
25	13	normal	55.00
26	13	vip	85.00
\.


--
-- Data for Name: terminales; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tickets_soporte; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tipos_documento; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.tipos_documento (id_tipo_documento, nombre, longitud_exacta) FROM stdin;
1	DNI	8
2	Pasaporte	\N
3	Carnet de Extranjer├â┬¡a	9
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: viajes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: agencias_id_agencia_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.agencias_id_agencia_seq', 6, true);


--
-- Name: agencias_terminales_id_agencia_terminal_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.agencias_terminales_id_agencia_terminal_seq', 15, true);


--
-- Name: api_keys_id_api_key_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.api_keys_id_api_key_seq', 4, true);


--
-- Name: asientos_id_asiento_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.asientos_id_asiento_seq', 2480, true);


--
-- Name: audit_logs_id_log_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.audit_logs_id_log_seq', 1, false);


--
-- Name: bloqueos_temporales_id_bloqueo_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.bloqueos_temporales_id_bloqueo_seq', 1, false);


--
-- Name: boletos_id_boleto_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.boletos_id_boleto_seq', 100, true);


--
-- Name: buses_id_bus_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.buses_id_bus_seq', 42, true);


--
-- Name: choferes_id_chofer_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.choferes_id_chofer_seq', 41, false);


--
-- Name: configuracion_comisiones_id_configuracion_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.configuracion_comisiones_id_configuracion_seq', 4, true);


--
-- Name: departamentos_id_departamento_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.departamentos_id_departamento_seq', 11, false);


--
-- Name: distritos_id_distrito_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.distritos_id_distrito_seq', 20, false);


--
-- Name: historial_cambios_soporte_id_historial_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.historial_cambios_soporte_id_historial_seq', 8, true);


--
-- Name: historial_estados_viaje_id_historial_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.historial_estados_viaje_id_historial_seq', 1, false);


--
-- Name: liquidaciones_agencia_id_liquidacion_agencia_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.liquidaciones_agencia_id_liquidacion_agencia_seq', 4, true);


--
-- Name: manifiestos_sutran_id_manifiesto_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.manifiestos_sutran_id_manifiesto_seq', 110, true);


--
-- Name: mensajes_reclamo_id_mensaje_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.mensajes_reclamo_id_mensaje_seq', 12, true);


--
-- Name: notificaciones_id_notificacion_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.notificaciones_id_notificacion_seq', 11, true);


--
-- Name: pagos_id_pago_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.pagos_id_pago_seq', 100, true);


--
-- Name: pasajeros_id_pasajero_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.pasajeros_id_pasajero_seq', 126, false);


--
-- Name: planes_id_plan_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.planes_id_plan_seq', 3, false);


--
-- Name: provincias_id_provincia_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.provincias_id_provincia_seq', 11, false);


--
-- Name: reclamos_id_reclamo_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.reclamos_id_reclamo_seq', 6, true);


--
-- Name: reembolsos_id_reembolso_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.reembolsos_id_reembolso_seq', 2, true);


--
-- Name: rutas_id_ruta_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.rutas_id_ruta_seq', 14, true);


--
-- Name: suscripciones_id_suscripcion_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.suscripciones_id_suscripcion_seq', 1, false);


--
-- Name: tarifas_ruta_id_tarifa_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tarifas_ruta_id_tarifa_seq', 27, false);


--
-- Name: terminales_id_terminal_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.terminales_id_terminal_seq', 11, true);


--
-- Name: tickets_soporte_id_ticket_soporte_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tickets_soporte_id_ticket_soporte_seq', 6, true);


--
-- Name: tipos_documento_id_tipo_documento_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tipos_documento_id_tipo_documento_seq', 4, false);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.usuarios_id_usuario_seq', 47, true);


--
-- Name: viajes_id_viaje_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.viajes_id_viaje_seq', 1584, true);


--
-- Name: agencias agencias_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias
    ADD CONSTRAINT agencias_pkey PRIMARY KEY (id_agencia);


--
-- Name: agencias agencias_ruc_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias
    ADD CONSTRAINT agencias_ruc_key UNIQUE (ruc);


--
-- Name: agencias_terminales agencias_terminales_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias_terminales
    ADD CONSTRAINT agencias_terminales_pkey PRIMARY KEY (id_agencia_terminal);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: api_keys api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_pkey PRIMARY KEY (id_api_key);


--
-- Name: api_keys api_keys_token_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_token_key UNIQUE (token);


--
-- Name: asientos asientos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asientos
    ADD CONSTRAINT asientos_pkey PRIMARY KEY (id_asiento);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id_log);


--
-- Name: bloqueos_temporales bloqueos_temporales_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.bloqueos_temporales
    ADD CONSTRAINT bloqueos_temporales_pkey PRIMARY KEY (id_bloqueo);


--
-- Name: boletos boletos_codigo_qr_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos
    ADD CONSTRAINT boletos_codigo_qr_key UNIQUE (codigo_qr);


--
-- Name: boletos boletos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos
    ADD CONSTRAINT boletos_pkey PRIMARY KEY (id_boleto);


--
-- Name: buses buses_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.buses
    ADD CONSTRAINT buses_pkey PRIMARY KEY (id_bus);


--
-- Name: buses buses_placa_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.buses
    ADD CONSTRAINT buses_placa_key UNIQUE (placa);


--
-- Name: choferes choferes_numero_documento_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.choferes
    ADD CONSTRAINT choferes_numero_documento_key UNIQUE (numero_documento);


--
-- Name: choferes choferes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.choferes
    ADD CONSTRAINT choferes_pkey PRIMARY KEY (id_chofer);


--
-- Name: configuracion_comisiones configuracion_comisiones_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.configuracion_comisiones
    ADD CONSTRAINT configuracion_comisiones_pkey PRIMARY KEY (id_configuracion);


--
-- Name: departamentos departamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.departamentos
    ADD CONSTRAINT departamentos_pkey PRIMARY KEY (id_departamento);


--
-- Name: distritos distritos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.distritos
    ADD CONSTRAINT distritos_pkey PRIMARY KEY (id_distrito);


--
-- Name: historial_cambios_soporte historial_cambios_soporte_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historial_cambios_soporte
    ADD CONSTRAINT historial_cambios_soporte_pkey PRIMARY KEY (id_historial);


--
-- Name: historial_estados_viaje historial_estados_viaje_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historial_estados_viaje
    ADD CONSTRAINT historial_estados_viaje_pkey PRIMARY KEY (id_historial);


--
-- Name: liquidaciones_agencia liquidaciones_agencia_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.liquidaciones_agencia
    ADD CONSTRAINT liquidaciones_agencia_pkey PRIMARY KEY (id_liquidacion_agencia);


--
-- Name: manifiestos_sutran manifiestos_sutran_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.manifiestos_sutran
    ADD CONSTRAINT manifiestos_sutran_pkey PRIMARY KEY (id_manifiesto);


--
-- Name: mensajes_reclamo mensajes_reclamo_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mensajes_reclamo
    ADD CONSTRAINT mensajes_reclamo_pkey PRIMARY KEY (id_mensaje);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id_notificacion);


--
-- Name: pagos pagos_id_boleto_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_id_boleto_key UNIQUE (id_boleto);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id_pago);


--
-- Name: pasajeros pasajeros_numero_documento_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pasajeros
    ADD CONSTRAINT pasajeros_numero_documento_key UNIQUE (numero_documento);


--
-- Name: pasajeros pasajeros_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pasajeros
    ADD CONSTRAINT pasajeros_pkey PRIMARY KEY (id_pasajero);


--
-- Name: planes planes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.planes
    ADD CONSTRAINT planes_pkey PRIMARY KEY (id_plan);


--
-- Name: provincias provincias_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.provincias
    ADD CONSTRAINT provincias_pkey PRIMARY KEY (id_provincia);


--
-- Name: reclamos reclamos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reclamos
    ADD CONSTRAINT reclamos_pkey PRIMARY KEY (id_reclamo);


--
-- Name: reembolsos reembolsos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reembolsos
    ADD CONSTRAINT reembolsos_pkey PRIMARY KEY (id_reembolso);


--
-- Name: rutas rutas_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.rutas
    ADD CONSTRAINT rutas_pkey PRIMARY KEY (id_ruta);


--
-- Name: suscripciones suscripciones_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.suscripciones
    ADD CONSTRAINT suscripciones_pkey PRIMARY KEY (id_suscripcion);


--
-- Name: tarifas_ruta tarifas_ruta_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tarifas_ruta
    ADD CONSTRAINT tarifas_ruta_pkey PRIMARY KEY (id_tarifa);


--
-- Name: terminales terminales_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.terminales
    ADD CONSTRAINT terminales_pkey PRIMARY KEY (id_terminal);


--
-- Name: tickets_soporte tickets_soporte_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tickets_soporte
    ADD CONSTRAINT tickets_soporte_pkey PRIMARY KEY (id_ticket_soporte);


--
-- Name: tipos_documento tipos_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tipos_documento
    ADD CONSTRAINT tipos_documento_pkey PRIMARY KEY (id_tipo_documento);


--
-- Name: agencias_terminales uq_agencia_terminal; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias_terminales
    ADD CONSTRAINT uq_agencia_terminal UNIQUE (id_agencia, id_terminal);


--
-- Name: asientos uq_bus_asiento; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asientos
    ADD CONSTRAINT uq_bus_asiento UNIQUE (id_bus, numero_asiento);


--
-- Name: tarifas_ruta uq_ruta_servicio; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tarifas_ruta
    ADD CONSTRAINT uq_ruta_servicio UNIQUE (id_ruta, tipo_servicio);


--
-- Name: boletos uq_viaje_asiento; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos
    ADD CONSTRAINT uq_viaje_asiento UNIQUE (id_viaje, id_asiento);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: viajes viajes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.viajes
    ADD CONSTRAINT viajes_pkey PRIMARY KEY (id_viaje);


--
-- Name: idx_comisiones_vigencia; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_comisiones_vigencia ON public.configuracion_comisiones USING btree (id_agencia, fecha_inicio, fecha_fin);


--
-- Name: idx_mensajes_reclamo_padre; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_mensajes_reclamo_padre ON public.mensajes_reclamo USING btree (id_reclamo);


--
-- Name: idx_rutas_origen_destino; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_rutas_origen_destino ON public.rutas USING btree (id_terminal_origen, id_terminal_destino);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: idx_viajes_fecha_estado; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_viajes_fecha_estado ON public.viajes USING btree (fecha_hora_salida, estado);


--
-- Name: uq_bloqueo_activo_viaje; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX uq_bloqueo_activo_viaje ON public.bloqueos_temporales USING btree (id_viaje, id_asiento) WHERE (estado = 'activo'::public.estado_bloqueo_temporal);


--
-- Name: manifiestos_sutran trg_bloquear_cambios_sutran; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trg_bloquear_cambios_sutran BEFORE DELETE OR UPDATE ON public.manifiestos_sutran FOR EACH ROW EXECUTE FUNCTION public.fn_proteger_manifiesto_sutran();


--
-- Name: liquidaciones_agencia trg_pre_calcular_liquidacion; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trg_pre_calcular_liquidacion BEFORE INSERT OR UPDATE ON public.liquidaciones_agencia FOR EACH ROW EXECUTE FUNCTION public.fn_calcular_comision_liquidacion();


--
-- Name: agencias_terminales fk_agencias_term_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias_terminales
    ADD CONSTRAINT fk_agencias_term_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE CASCADE;


--
-- Name: agencias_terminales fk_agencias_term_terminal; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agencias_terminales
    ADD CONSTRAINT fk_agencias_term_terminal FOREIGN KEY (id_terminal) REFERENCES public.terminales(id_terminal) ON DELETE CASCADE;


--
-- Name: api_keys fk_apikeys_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT fk_apikeys_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE CASCADE;


--
-- Name: asientos fk_asientos_bus; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asientos
    ADD CONSTRAINT fk_asientos_bus FOREIGN KEY (id_bus) REFERENCES public.buses(id_bus) ON DELETE CASCADE;


--
-- Name: bloqueos_temporales fk_bloqueos_asiento; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.bloqueos_temporales
    ADD CONSTRAINT fk_bloqueos_asiento FOREIGN KEY (id_asiento) REFERENCES public.asientos(id_asiento) ON DELETE CASCADE;


--
-- Name: bloqueos_temporales fk_bloqueos_viaje; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.bloqueos_temporales
    ADD CONSTRAINT fk_bloqueos_viaje FOREIGN KEY (id_viaje) REFERENCES public.viajes(id_viaje) ON DELETE CASCADE;


--
-- Name: boletos fk_boletos_asiento; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos
    ADD CONSTRAINT fk_boletos_asiento FOREIGN KEY (id_asiento) REFERENCES public.asientos(id_asiento) ON DELETE RESTRICT;


--
-- Name: boletos fk_boletos_pasajero; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos
    ADD CONSTRAINT fk_boletos_pasajero FOREIGN KEY (id_pasajero) REFERENCES public.pasajeros(id_pasajero) ON DELETE RESTRICT;


--
-- Name: boletos fk_boletos_usuario; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos
    ADD CONSTRAINT fk_boletos_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE SET NULL;


--
-- Name: boletos fk_boletos_viaje; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boletos
    ADD CONSTRAINT fk_boletos_viaje FOREIGN KEY (id_viaje) REFERENCES public.viajes(id_viaje) ON DELETE RESTRICT;


--
-- Name: buses fk_buses_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.buses
    ADD CONSTRAINT fk_buses_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE RESTRICT;


--
-- Name: choferes fk_choferes_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.choferes
    ADD CONSTRAINT fk_choferes_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE RESTRICT;


--
-- Name: choferes fk_choferes_doc; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.choferes
    ADD CONSTRAINT fk_choferes_doc FOREIGN KEY (id_tipo_documento) REFERENCES public.tipos_documento(id_tipo_documento) ON DELETE RESTRICT;


--
-- Name: configuracion_comisiones fk_comisiones_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.configuracion_comisiones
    ADD CONSTRAINT fk_comisiones_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE CASCADE;


--
-- Name: distritos fk_distritos_provincia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.distritos
    ADD CONSTRAINT fk_distritos_provincia FOREIGN KEY (id_provincia) REFERENCES public.provincias(id_provincia) ON DELETE RESTRICT;


--
-- Name: historial_estados_viaje fk_historial_viaje; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historial_estados_viaje
    ADD CONSTRAINT fk_historial_viaje FOREIGN KEY (id_viaje) REFERENCES public.viajes(id_viaje) ON DELETE CASCADE;


--
-- Name: liquidaciones_agencia fk_liquidaciones_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.liquidaciones_agencia
    ADD CONSTRAINT fk_liquidaciones_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE RESTRICT;


--
-- Name: manifiestos_sutran fk_manifiesto_viaje; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.manifiestos_sutran
    ADD CONSTRAINT fk_manifiesto_viaje FOREIGN KEY (id_viaje) REFERENCES public.viajes(id_viaje) ON DELETE RESTRICT;


--
-- Name: mensajes_reclamo fk_mensajes_reclamo; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mensajes_reclamo
    ADD CONSTRAINT fk_mensajes_reclamo FOREIGN KEY (id_reclamo) REFERENCES public.reclamos(id_reclamo) ON DELETE CASCADE;


--
-- Name: mensajes_reclamo fk_mensajes_usuario; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.mensajes_reclamo
    ADD CONSTRAINT fk_mensajes_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: pagos fk_pagos_boleto; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT fk_pagos_boleto FOREIGN KEY (id_boleto) REFERENCES public.boletos(id_boleto) ON DELETE RESTRICT;


--
-- Name: pasajeros fk_pasajeros_doc; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pasajeros
    ADD CONSTRAINT fk_pasajeros_doc FOREIGN KEY (id_tipo_documento) REFERENCES public.tipos_documento(id_tipo_documento) ON DELETE RESTRICT;


--
-- Name: pasajeros fk_pasajeros_usuario; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pasajeros
    ADD CONSTRAINT fk_pasajeros_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE SET NULL;


--
-- Name: provincias fk_provincias_departamento; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.provincias
    ADD CONSTRAINT fk_provincias_departamento FOREIGN KEY (id_departamento) REFERENCES public.departamentos(id_departamento) ON DELETE RESTRICT;


--
-- Name: reclamos fk_reclamos_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reclamos
    ADD CONSTRAINT fk_reclamos_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE RESTRICT;


--
-- Name: reclamos fk_reclamos_usuario; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reclamos
    ADD CONSTRAINT fk_reclamos_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: reembolsos fk_reembolso_pago; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reembolsos
    ADD CONSTRAINT fk_reembolso_pago FOREIGN KEY (id_pago) REFERENCES public.pagos(id_pago) ON DELETE RESTRICT;


--
-- Name: reembolsos fk_reembolso_usuario; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reembolsos
    ADD CONSTRAINT fk_reembolso_usuario FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id_usuario) ON DELETE SET NULL;


--
-- Name: rutas fk_rutas_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.rutas
    ADD CONSTRAINT fk_rutas_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE RESTRICT;


--
-- Name: rutas fk_rutas_destino; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.rutas
    ADD CONSTRAINT fk_rutas_destino FOREIGN KEY (id_terminal_destino) REFERENCES public.terminales(id_terminal) ON DELETE RESTRICT;


--
-- Name: rutas fk_rutas_origen; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.rutas
    ADD CONSTRAINT fk_rutas_origen FOREIGN KEY (id_terminal_origen) REFERENCES public.terminales(id_terminal) ON DELETE RESTRICT;


--
-- Name: suscripciones fk_suscripciones_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.suscripciones
    ADD CONSTRAINT fk_suscripciones_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE RESTRICT;


--
-- Name: suscripciones fk_suscripciones_plan; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.suscripciones
    ADD CONSTRAINT fk_suscripciones_plan FOREIGN KEY (id_plan) REFERENCES public.planes(id_plan) ON DELETE RESTRICT;


--
-- Name: tarifas_ruta fk_tarifas_ruta; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tarifas_ruta
    ADD CONSTRAINT fk_tarifas_ruta FOREIGN KEY (id_ruta) REFERENCES public.rutas(id_ruta) ON DELETE CASCADE;


--
-- Name: terminales fk_terminales_distrito; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.terminales
    ADD CONSTRAINT fk_terminales_distrito FOREIGN KEY (id_distrito) REFERENCES public.distritos(id_distrito) ON DELETE RESTRICT;


--
-- Name: tickets_soporte fk_tickets_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tickets_soporte
    ADD CONSTRAINT fk_tickets_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE CASCADE;


--
-- Name: usuarios fk_usuarios_agencia; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fk_usuarios_agencia FOREIGN KEY (id_agencia) REFERENCES public.agencias(id_agencia) ON DELETE SET NULL;


--
-- Name: viajes fk_viajes_bus; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.viajes
    ADD CONSTRAINT fk_viajes_bus FOREIGN KEY (id_bus) REFERENCES public.buses(id_bus) ON DELETE RESTRICT;


--
-- Name: viajes fk_viajes_chofer; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.viajes
    ADD CONSTRAINT fk_viajes_chofer FOREIGN KEY (id_chofer) REFERENCES public.choferes(id_chofer) ON DELETE RESTRICT;


--
-- Name: viajes fk_viajes_ruta; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.viajes
    ADD CONSTRAINT fk_viajes_ruta FOREIGN KEY (id_ruta) REFERENCES public.rutas(id_ruta) ON DELETE RESTRICT;


--
-- Name: historial_cambios_soporte historial_cambios_soporte_id_ticket_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historial_cambios_soporte
    ADD CONSTRAINT historial_cambios_soporte_id_ticket_fkey FOREIGN KEY (id_ticket) REFERENCES public.tickets_soporte(id_ticket_soporte);


--
-- Name: historial_cambios_soporte historial_cambios_soporte_id_usuario_modifica_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historial_cambios_soporte
    ADD CONSTRAINT historial_cambios_soporte_id_usuario_modifica_fkey FOREIGN KEY (id_usuario_modifica) REFERENCES public.usuarios(id_usuario);


--
-- Name: notificaciones notificaciones_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict AqoffIfqYbUvWgWYEJAjB9dhr4acbIZhJOUgDIsqXw6BcS0eiXsr1RQSSmUUxdS

